---
ip: "192.168.10.10"
memory: 2048
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
backup: true

keys:
    - ~/.ssh/id_rsa

folders:
    - map: ~/Workspace/projects/taishanshi
      to: /home/vagrant/taishanshi
    - map: ~/Workspace/qian-mian
      to: /home/vagrant/qian-mian
    - map: ~/Workspace/projects/yiqimaifang-CRM
      to: /home/vagrant/yiqimaifang-CRM
    - map: ~/Workspace/products/xNote
      to: /home/vagrant/xNote

sites:
    - map: qianmian.test
      to: /home/vagrant/qian-mian

databases:
    - homestead
    - taishanshi
    - yiqimaifang-crm
    - xnote

services:
    - enabled:
        - "mysql"
    - disabled:
        #- "postgresql"
        - "redis-server"
        - "memcached"
        - "beanstalkd"
        - "mailhog"
        - "avahi-daemon"

ports:
    - send: 8360
      to: 8360
    #- send: 7777
    #  to: 777
    #  protocol: udp

#features:
    #- apache: true
    #- blackfire:
    #    server_id: "server_id"
    #    server_token: "server_value"
    #    client_id: "client_id"
    #    client_token: "client_value"
    #- cassandra: true
    #- chronograf: true
    #- couchdb: true
    #- crystal: true
    #- docker: true
    #- elasticsearch:
    #    version: 7.9.0
    #- gearman: true
    #- golang: true
    #- grafana: true
    #- influxdb: true
    #- mariadb: true
    #- minio: true
    #- mongodb: true
    #- mysql8: true
    #- neo4j: true
    #- ohmyzsh: true
    #- openresty: true
    #- pm2: true
    #- python: true
    #- rabbitmq: true
    #- solr: true
    #- webdriver: true
